.card-surat{
    cursor: pointer;
    transition: .8s;
}
.card-surat:hover{
    background-color: #9edebd;
}

body{
    background-image:url(https://img.freepik.com/free-vector/decorative-background-with-detailed-pattern_1048-6587.jpg?w=1380&t=st=1698284878~exp=1698285478~hmac=ebe215bba7d476cb81f44f03c7f06a5de57243f4936be442ea2389f2afeeba19) ;
}


